In [1]:
from tqdm.notebook import trange

In [48]:
from math import gcd

In [ ]:
s = {}
for x in trange(1, 8000):
    for y in range(1, x):
        # if gcd(x, y) ==1 and (x+y)^1:
        #     print(x, y, (x**4-y**4)// (x**3 + y**3), 2*x - 2*y - 1)
        n, d = (x**4-y**4), (x**3 + y**3)
        if n % d == 0:
            if n * d > 0:
                num = n // d
                # print(x, y, num)
                if num not in s:
                    s[num] = []
                s[num].append((x, y))

  0%|          | 0/7999 [00:00<?, ?it/s]

In [ ]:
from random import randint
def miller_rabin(n, k=5):
    if n <= 1:
        return False
    if n == 2 or n == 3:
        return True
    d = n - 1
    s = 0
    while d % 2 == 0:
        d //= 2
        s += 1
    
    y = 0
    for _ in range(k):
        a = randint(2, n - 2)
        x = pow(a, d, n)
        for _ in range(s):
            y = pow(x, 2, n)
            if y == 1 and x != 1 and x != n - 1:
                return False
            x = y
        if y != 1:
            return False
    return True

In [155]:
from fractions import Fraction
v_f = {}
for e in s:
    if not miller_rabin(e):
        continue
    print(e)
    for q in s[e]:
        F = Fraction(q[0], q[1])
        if F not in v_f:
            v_f[F] = (q[0], q[1])
        if q[0] < v_f[F][0]:
            v_f[F] = (q[0], q[1])
        x,y =q
        nu = (x**4-y**4)// (x**3 + y**3)
        print(q, nu, x - y, y / (x - y))

5
(6, 3) 5 3 1.0
13
(21, 14) 13 7 2.0
41
(105, 84) 41 21 4.0
61
(186, 155) 61 31 5.0
113
(456, 399) 113 57 7.0
181
(910, 819) 181 91 9.0
313
(2041, 1884) 313 157 12.0
421
(3165, 2954) 421 211 14.0
613
(5526, 5219) 613 307 17.0
761
(7620, 7239) 761 381 19.0

In [ ]:
from random import randint
def miller_rabin(n, k=5):
    if n <= 1:
        return False
    if n == 2 or n == 3:
        return True
    d = n - 1
    s = 0
    while d % 2 == 0:
        d //= 2
        s += 1
    
    y = 0
    for _ in range(k):
        a = randint(2, n - 2)
        x = pow(a, d, n)
        for _ in range(s):
            y = pow(x, 2, n)
            if y == 1 and x != 1 and x != n - 1:
                return False
            x = y
        if y != 1:
            return False
    return True
ma = 5 * 10**10
nums = []
k = 1
C = 0
while True:
    if miller_rabin(k**2 + (k+1)**2):
        b = (k) * (k + 1) + 1
        dub = b * 2 - 2
        x, y = b * k + b, b * k
        num = (x**4 - y**4) / (x**3 + y**3)
        if num > ma:
            print("Done at k = {}".format(k))
            break
        C += 1
    k += 1
C

Done at k = 158119

19308

In [150]:
1884 / 157

12.0

In [ ]:
Y > X
D = Y - X
4x + 2d - 1

In [130]:
cm = 2
for d in range(7, 100000):
    y = d * cm
    x = y + d
    N, D = x**4 - y**4, x**3 + y**3
    if d == 546:
        print("FFS", x, y, N // D)
    if N % D == 0 and miller_rabin(N // D):
        print(d, N // D)
        cm += 2
    else:
        x = d * cm
        y = x - d
        N, D = x**4 - y**4, x**3 + y**3
        if d == 546:
            print("FFS", x, y, N // D)
        if N % D == 0 and miller_rabin(N // D):
            print(d, N // D)
            cm += 2

7 13
21 41
31 61
57 113
91 181
157 313
211 421
FFS 9282 8736 1090
FFS 8736 8190 1089

In [134]:
NN = 9282**4 - 8736**4
DD = 9282**3 + 8736**3
NN, DD, NN / DD

(1598383592966160, 1466406966024, 1090.0)

In [123]:
546 * 16

8736

In [ ]:
9282 8736

In [135]:
cm = 1
la = 0
for i in range(13, 1000000):
    cc = 0
    if miller_rabin(i):
        y = (i + 1) * cm
        x = y + (i + 1) // 2
        n, d = x**4 - y**4, x**3 + y**3
        # print(n, d)
        if n % d == 0:
            cc = i
            cm += 1
        else:
            y = (i + 1) * cm
            x = y - (i + 1) // 2
            n, d = x**4 - y**4, x**3 + y**3
            # print(n, d)
            if n % d == 0:
                cc = i
                cm += 1
    if cc:
        print(cm, i, x, y, n / d, gcd(x, y), y - x)
        la = i

2 13 21 14 13.0 7 -7
3 41 105 84 41.0 21 -21
4 61 155 186 -61.0 31 31
5 113 399 456 -113.0 57 57
6 181 819 910 -181.0 91 91
7 313 2041 1884 313.0 157 -157
8 421 3165 2954 421.0 211 -211
9 1091 9282 8736 1090.0 546 -546
10 4297 36533 38682 -4291.0 2149 2149
11 5051 53046 50520 5046.0 2526 -2526
12 6481 68061 71302 -6475.0 3241 3241
13 7211 90150 86544 7206.0 3606 -3606
14 11717 146475 152334 -11709.0 5859 5859
15 13007 188616 182112 13000.0 6504 -6504
16 13033 202027 195510 13027.0 6517 -6517
17 13901 215481 222432 -13895.0 6951 6951
18 16673 291795 283458 16667.0 8337 -8337
19 18661 345247 335916 18655.0 9331 -9331
20 19697 364413 374262 -19691.0 9849 9849
21 22973 470967 459480 22967.0 11487 -11487
22 24121 494501 506562 -24115.0 12061 12061
23 26501 569793 583044 -26495.0 13251 13251
24 34607 813288 795984 34600.0 17304 -17304
25 45139 1060790 1083360 -45130.0 22570 22570
26 49019 1200990 1225500 -49010.0 24510 24510
27 63671 1623636 1655472 -63660.0 31836 31836
28 68711 1820868 1855224 -68700.0 34356 34356
29 73943 2033460 2070432 -73932.0 36972 36972
30 79367 2261988 2301672 -79356.0 39684 39684
31 109829 3349815 3294900 109815.0 54915 -54915
32 113489 3461445 3518190 -113475.0 56745 56745
33 116507 3786510 3728256 116494.0 58254 -58254
34 132689 4445115 4378770 132675.0 66345 -66345
35 136709 4579785 4648140 -136695.0 68355 68355
36 139187 4941174 4871580 139174.0 69594 -69594
37 189251 6907698 6813072 189234.0 94626 -94626
38 194507 7099542 7196796 -194490.0 97254 97254
39 239441 8979075 9098796 -239421.0 119721 119721
40 252293 9713319 9839466 -252273.0 126147 126147
41 272201 11024181 10888080 272181.0 136101 -136101
42 318863 12913992 13073424 -318840.0 159432 159432
43 390487 16205252 16400496 -390460.0 195244 195244
44 404081 17577567 17375526 404055.0 202041 -202041
45 413477 17986293 18193032 -413451.0 206739 206739
46 496681 22102349 22350690 -496651.0 248341 248341
47 513419 23874030 23617320 513390.0 256710 -256710
48 535859 25453350 25185420 535830.0 267930 -267930
49 614657 29810913 29503584 614625.0 307329 -307329
50 779573 37809339 38199126 -779533.0 389787 389787
51 831683 41168358 41584200 -831642.0 415842 415842
52 882587 45453282 45011988 882546.0 441294 -441294
53 899891 46344438 46794384 -899850.0 449946 449946
54 935003 49087710 49555212 -934962.0 467502 467502
55 941839 51330280 50859360 941800.0 470920 -470920
56 959279 52280760 52760400 -959240.0 479640 479640

In [89]:
(13+1)*2

28

In [ ]:
6**4 -

In [39]:
21**3

9261

In [46]:
len(v_f)

159

In [48]:
for e in v_f:
    x, y= v_f[e]
    print(e, (x**4-y**4)//(x**3 + y**3))

2 5
3 20
3/2 13
4/3 25
4 51
5/2 87
5/3 68
7/6 85
5 104
5/4 41
9/8 145
6 185
6/5 61
7/4 195
7/3 232
7/2 265
12/11 265
9/7 260
7/5 148
7 300
11/10 221
8/3 365
14/13 365
8/5 267
8 455
8/7 113
9/4 485
9/5 424
11/8 555
9/2 595
13/11 580
17/16 545
9 656
11/7 680
16/15 481
10/3 763
10/7 447
19/18 685
10 909
10/9 181
11/6 785
11/5 876
11/4 959
11/3 1040
13/9 1000
11/2 1125
11/9 404
12/7 965
11 1220
16/13 1275
12/5 1183
19/17 1300
13/8 1165
12 1595
17/14 1455
13/6 1435
13/7 1308
14/9 1385
13/4 1665
13/5 1552
13/3 1780
13/10 807
13/2 1903
14/5 1989
13 2040
13/12 313
16/11 1885
14/3 2255
14/11 951
15/7 2192
15/8 2023
14 2561
17/11 2460
17/12 2165
15/4 2651
15/11 1384
18/13 2465
17/9 2960
15/2 2977
15/13 788
22/19 2535
21/17 2920
16/7 2745
16/9 2359
15 3164
15/14 421
16/5 3091
19/13 3180
20/17 2067
19/14 2785
16/3 3445
17/7 3380
17/8 3177
17/10 2723
18/11 3115
17/6 3575
16 3855
17/5 3768
17/4 3965
17/13 1832
21/16 3485
17/3 4172
19/12 3535
17/2 4395
17/15 1028
18/7 4103
22/17 3865
17 4640
19/9 4420
18/5 4537
21/13 4880
19/10 4149
19/7 4920
19/8 4675
19/11 3856
19/6 5161
18 5525
18/17 613
19/5 5404
19/4 5655
19/15 2344
21/11 5620
19/3 5920
19/16 1851
20/9 5291
20/11 4689
23/15 6032
20/7 5837
20/13 3983
19/2 6205
19 6516
23/16 5495
21/10 5951
20/3 6953
21/8 6565
23/14 6525
23/13 6980
21/5 7456
20 7619
20/19 761
23/11 7800
21/4 7769
22/9 7345
22/13 5877
22/7 7995
22/15 4963
21/2 8455
21/19 1604
23/9 8540
22/5 8653
21 8840
21/20 841
23/12 7403
23/10 8177
22/3 9367
23/8 8895
23/7 9248
23/6 9605
23/17 4908

In [ ]:
(x^2 - xy + y^2)

In [27]:
A = 0.5 - (-3)**0.5
A = -A**0.5

In [28]:
B = 1 / A

In [ ]:
A * B, A**2 + B**2

((1+1.2519798875176661e-17j), (0.6538461538461542-1.1991120975476839j))

In [32]:
A = (1/2 + (1 - 4)**0.5/2)**0.5
B = 1/A

In [33]:
A * B, A**2 + B**2

((1+4.0636983087920376e-17j), (1.0000000000000004+1.1102230246251565e-16j))

In [36]:
from math import gcd

In [40]:
for x in range(1, 100):
    for y in range(x + 1, 100):
        n, d = x**2 + y**2, x**2 - x*y + y**2
        # if gcd(n, d) != 1:
        #     print(gcd(n, d))
        if n % d == 0:
            print(x, y)

In [ ]:
x, y = 6, 3
p = x  - y**3 / (x**2 - x*y + y**2)

5.0

In [ ]:
"""
x^4 - y^4
(x^2 + y^2) * (x-y) * (x + y) / (x^2 - xy + y^2) (x + y) = p
(x^2 + y^2) * (x-y) / (x^2 - xy + y^2) = p

(x^2 + y^2) * (x-y) / (x^2 - xy + y^2) = p

x^3 + xy^2 - x^2y - y^3

x  - y^3 / (x^2 - xy + y^2) = p



2*x - 2*y - 1 = x  - y^3 / (x^2 - xy + y^2)




"""