In [1]:
def sieve(n):
    s = [1 for _ in range(n + 1)]
    primes = []
    for q in range(2, n + 1):
        if s[q]:
            primes.append(q)
            for i in range(2 * q, n + 1, q):
                s[i] = 0
    return primes

In [7]:
def get_divs(n):
    divs = [[] for _ in range(n + 1)]
    for i in range(1, n + 1):
        for q in range(i, n + 1, i):
            divs[q].append(i)
    return divs

In [ ]:
(2, 4) -> 15 
(3, 4) -> 19 4 
(4, 4) -> 21 2 
(5, 4) -> 25 4
(6, 4) -> 31 6
(7, 4) -> 39 8

In [36]:
def ways(a, b):
    return (a + b - 3) + 3 * (a + b - 3)
ways(5, 4)

24

In [40]:
def cnt(a, b):
    return 4 * (a + b) - 11
cnt(6, 4)

29

In [12]:
D = get_divs(100_000)

In [21]:
primes = sieve(99)

G = 0
for p in primes:
    d = D[p * p + 3]
    # print(d, (len(d) + 1) // 2)
    print(p * p + 3, len(d), d)
    G += len(d)
G

7 2 [1, 7]
12 6 [1, 2, 3, 4, 6, 12]
28 6 [1, 2, 4, 7, 14, 28]
52 6 [1, 2, 4, 13, 26, 52]
124 6 [1, 2, 4, 31, 62, 124]
172 6 [1, 2, 4, 43, 86, 172]
292 6 [1, 2, 4, 73, 146, 292]
364 12 [1, 2, 4, 7, 13, 14, 26, 28, 52, 91, 182, 364]
532 12 [1, 2, 4, 7, 14, 19, 28, 38, 76, 133, 266, 532]
844 6 [1, 2, 4, 211, 422, 844]
964 6 [1, 2, 4, 241, 482, 964]
1372 12 [1, 2, 4, 7, 14, 28, 49, 98, 196, 343, 686, 1372]
1684 6 [1, 2, 4, 421, 842, 1684]
1852 6 [1, 2, 4, 463, 926, 1852]
2212 12 [1, 2, 4, 7, 14, 28, 79, 158, 316, 553, 1106, 2212]
2812 12 [1, 2, 4, 19, 37, 38, 74, 76, 148, 703, 1406, 2812]
3484 12 [1, 2, 4, 13, 26, 52, 67, 134, 268, 871, 1742, 3484]
3724 18 [1, 2, 4, 7, 14, 19, 28, 38, 49, 76, 98, 133, 196, 266, 532, 931, 1862, 3724]
4492 6 [1, 2, 4, 1123, 2246, 4492]
5044 12 [1, 2, 4, 13, 26, 52, 97, 194, 388, 1261, 2522, 5044]
5332 12 [1, 2, 4, 31, 43, 62, 86, 124, 172, 1333, 2666, 5332]
6244 12 [1, 2, 4, 7, 14, 28, 223, 446, 892, 1561, 3122, 6244]
6892 6 [1, 2, 4, 1723, 3446, 6892]
7924 12 [1, 2, 4, 7, 14, 28, 283, 566, 1132, 1981, 3962, 7924]
9412 12 [1, 2, 4, 13, 26, 52, 181, 362, 724, 2353, 4706, 9412]

224

In [3]:
def cnt(a, b):
    return 4 * (a + b) - 11

In [4]:
primes = sieve(10)

In [21]:
tot = 0
for p in primes:
    if (p * p + 11) % 4 == 0:
        tot += (p * p + 11) // 4 - 3
        print(p * p, (p * p + 11) // 4 - 3)
tot

9 2
25 6
49 12

20