In [2]:
pat = "123432"
seq = ""
for i in range(100):
    seq += pat
seq

'123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432123432'

In [7]:
d = []
ct = 0
cs = ""
tar = 1
for c in seq:
    cs += c
    ct += int(c)
    if ct == tar:
        d += [cs]
        cs = ""
        ct = 0
        tar += 1

In [21]:
oint = [int(e) for e in d[0:15]]
def calc_one_sum(N):
    T = 0
    os = sum(oint)
    cnt = N // len(oint)
    T += cnt * os
    for i in range(cnt * len(oint), N):
        T += oint[i % len(oint)]
    return T

In [32]:
calc_one_sum(16)

260518

In [36]:
1234320 * 1000001

1234321234320

In [37]:
r = 10**6

In [46]:
def sub(n):
    return (1 - r**(n+1)) // (1 - r)

In [51]:
sum(sub(i) for i in range(0, 1))

1

In [116]:
r = 10**6
mod = 123454321

In [131]:
def Smod(N):
   U = pow(r, N + 1, mod) - r
   L = r - 1
   top = (N - U * pow(L, -1, mod))
   return top * pow(1 - r, -1, mod) % mod

In [134]:
Smod(1)

1

In [146]:
def A(N):
    print([int(i) for i in d[:N]], len([int(i) for i in d[:N]]))
    return sum([int(i) for i in d[:N]])
A(20)

[1, 2, 3, 4, 32, 123, 43, 2123, 432, 1234, 32123, 43212, 34321, 23432, 123432, 1234321, 2343212, 3432123, 4321234, 32123432] 20

43714839

In [151]:
# for i, e in enumerate(d):
#     ie = int(e)
#     print(i, ie - oint[i % len(oint)])

In [154]:
def ans(N):
    T = calc_one_sum(N)

    for i in range(0, len(ones)):
        dind = i + 15
        num = int(d[dind]) - oint[i % len(oint)]
        cnt = (N - dind + 14) // 15
        T += num * Smod(cnt)
        # print(num, num * Smod(cnt))
        T %= mod        
    return T
ans(10**14)

18934502

In [113]:
def S(N):
    return (N - (r**(N + 1) - r) // (r - 1)) // (1 - r)
S(3)

1000002000003

In [33]:
for i, e in enumerate(d):
    ie = int(e)
    print(i, ie - oint[i % len(oint)])

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 1234320
16 2343210
17 3432120
18 4321230
19 32123400
20 123432000
21 43212300
22 2123430000
23 432123000
24 1234320000
25 32123400000
26 43212300000
27 34321200000
28 23432100000
29 123432000000
30 1234321234320
31 2343212343210
32 3432123432120
33 4321234321230
34 32123432123400
35 123432123432000
36 43212343212300
37 2123432123430000
38 432123432123000
39 1234321234320000
40 32123432123400000
41 43212343212300000
42 34321234321200000
43 23432123432100000
44 123432123432000000
45 1234321234321234320
46 2343212343212343210
47 3432123432123432120
48 4321234321234321230
49 32123432123432123400
50 123432123432123432000
51 43212343212343212300
52 2123432123432123430000
53 432123432123432123000

In [10]:
for i, e in enumerate(d):
    print(i + 1, len(e), e)

1 1 1
2 1 2
3 1 3
4 1 4
5 2 32
6 3 123
7 2 43
8 4 2123
9 3 432
10 4 1234
11 5 32123
12 5 43212
13 5 34321
14 5 23432
15 6 123432
16 7 1234321
17 7 2343212
18 7 3432123
19 7 4321234
20 8 32123432
21 9 123432123
22 8 43212343
23 10 2123432123
24 9 432123432
25 10 1234321234
26 11 32123432123
27 11 43212343212
28 11 34321234321
29 11 23432123432
30 12 123432123432
31 13 1234321234321
32 13 2343212343212
33 13 3432123432123
34 13 4321234321234
35 14 32123432123432
36 15 123432123432123
37 14 43212343212343
38 16 2123432123432123
39 15 432123432123432
40 16 1234321234321234
41 17 32123432123432123
42 17 43212343212343212
43 17 34321234321234321
44 17 23432123432123432
45 18 123432123432123432
46 19 1234321234321234321
47 19 2343212343212343212
48 19 3432123432123432123
49 19 4321234321234321234
50 20 32123432123432123432
51 21 123432123432123432123
52 20 43212343212343212343
53 22 2123432123432123432123
54 21 432123432123432123432